* {
  font-family: 'Lato', sans-serif;
}
body {
  background: #dd3a04;
  /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #dd3a04 0%, #dd3a04 21%, #dd3a04 22%, #8f0222 57%, #660001 100%);
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #dd3a04), color-stop(21%, #dd3a04), color-stop(22%, #dd3a04), color-stop(57%, #8f0222), color-stop(100%, #660001));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #dd3a04 0%, #dd3a04 21%, #dd3a04 22%, #8f0222 57%, #660001 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #dd3a04 0%, #dd3a04 21%, #dd3a04 22%, #8f0222 57%, #660001 100%);
  /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #dd3a04 0%, #dd3a04 21%, #dd3a04 22%, #8f0222 57%, #660001 100%);
  /* IE10+ */
  background: radial-gradient(ellipse at center, #dd3a04 0%, #dd3a04 21%, #dd3a04 22%, #8f0222 57%, #660001 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dd3a04', endColorstr='#660001', GradientType=1);
  /* IE6-9 fallback on horizontal gradient */
}
.headerContainer {
  height: 50vh;
  z-index: 2;
}
.headerContainer div {
  color: #FFF;
  z-index: 2;
  position: relative;
}
.hhmi-logo {
  color: #FFF;
  z-index: 2;
  margin: 10px;
  width: 100px;
}
.center-text {
  text-align: center;
}
.template {
  position: relative;
  height: 100%;
}
.content {
  position: relative;
}
.heading1 {
  font-size: 36px;
  font-family: 'Pacifico', cursive;
  margin: 10px 50px;
}
.heading1 span {
  font-family: 'Pacifico', cursive;
}
.btn-nav {
  z-index: 999;
  margin: 0 auto;
}
.hero {
  position: relative;
  height: 100vh;
}
.buttonRow {
  text-align: center;
  height: 30vh;
  padding: 10px 0 0 0;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}
.lead {
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
.hero__title {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
}
.imageRow {
  z-index: 2;
  height: 20vh;
}
.rotatingImage {
  width: auto;
  height: 20vh;
  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 100%;
}
.animate {
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}
.action-button {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 0px 10px 10px 0px;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 18px;
  color: #FFF;
  float: left;
  text-decoration: none;
}
.blue {
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980b9;
}
.red {
  background-color: #E74C3C;
  border-bottom: 5px solid #BD3E31;
  text-shadow: 0px -2px #bd3e31;
}
.green {
  background-color: #82BF56;
  border-bottom: 5px solid #669644;
  text-shadow: 0px -2px #669644;
}
.yellow {
  background-color: #F2CF66;
  border-bottom: 5px solid #D1B358;
  text-shadow: 0px -2px #d1b358;
}
.action-button:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  border-bottom: 1px solid;
}
